pyrogram
requests
wget
mediainfo
cloudscraper
tgcrypto
pyromod==1.5
lxml
bs4
telegraph
psutil
aiohttp
aiofiles
asyncio
pycurl
humanize
dnspython
aiofiles
motor
gdown
pycryptodome
Flask==2.2.2
werkzeug==2.2.2
gunicorn==20.1.0
